.profile {
  display: flex; 
  height: 400px; 
  width: 100%;  
  flex-direction: column; 
  align-items: center; 
  background-color: gray;
  flex-grow: 1; 
  color: white;
} 

#avatar { 
  display: flex; 
  align-items: center;
  justify-self: center; 
  flex-grow: 1;
}