header {
  display: flex; 
  height: 400px; 
  width: 100%;  
  flex-direction: column; 
  align-items: center; 
  background-color: #000514;
  background-image: url("https://www.transparenttextures.com/patterns/45-degree-fabric-light.png"); 
  flex-grow: 1; 
  color: white;
} 

#avatar { 
  display: flex; 
  align-items: center;
  justify-self: center; 
  flex-grow: 1;
}